# Puerto en el que corre tu servidor
PORT=5000

# Clave secreta para firmar tokens JWT (debe ser secreta en producción)
JWT_SECRET=9f83KJd#29skD!lP0xQz@91nVxLm7Tg

# user: process.env.DB_USER,
# host: process.env.DB_HOST,
# database: process.env.DB_DATABASE,
# password: process.env.DB_PASSWORD,
# port: Number(process.env.DB_PORT)


## ESTO EN env
#DB_USER=postgres
#DB_HOST=localhost
#DB_DATABASE="PRACTICA LABORAL 3"
#DB_PASSWORD=postgres
#DB_PORT=5432

## para construir url postgresql://usuario:password@host:puerto/base_de_datos
